@page
@model Sun.Webapplication.Pages.Product.CreateModel
@{
    ViewData["Title"] = "New product";
}
<div class="text-right">
    <h1 class="display-4  p-3">کالای جدید</h1>
</div>

<form method="post">
    <div class="row">
        <div class="col-md-6 form-group text-right">
            <label>نام کالا</label>
            <input class="form-control" name="name" id="name" type="text" />
        </div>
        <div class="col-md-6 form-group text-right">
            <label>قیمت کالا</label>
            <input class="form-control" name="unitPrice" id="unitPrice" type="text" />
        </div>
        <div class="col-md-6 form-group text-right">
            <label>برند کالا</label>
            <select class="form-control" asp-items="@Model.ProductBrands" name="brandId" id="brandId">
                <option value="0">برند محصول را انتخاب کنید</option>
            </select>
        </div>
        <div class="col-md-6 form-group text-right">
            <label>دسته بندی کالا</label>
            <select class="form-control" asp-items="@Model.ProductCategorys" name="categoryId" id="categoryId">
                <option value="0">دسته بندی محصول را انتخاب کنید</option>
            </select>
        </div>
        <div class="col-md-6 form-group text-right">
            <label>واحد کالا</label>
            <select class="form-control" asp-items="@Model.ProductUnits" name="unitId" id="unitId">
                <option value="0">واحد محصول را انتخاب کنید</option>
            </select>
        </div>
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">
                ذخیره <span class="fa fa-save"></span>
            </button>
            <button asp-page="./Index" class="btn btn-danger">
                بازگشت <span class="fa fa-arrow-left"></span>
            </button>
        </div>
    </div>
</form>

