@page
@model CreateModel
@{
    ViewData["Title"] = "New Brand";
}

<div class="text-center">
    <h1 class="display-4 border-bottom p-3">برند جدید</h1>
</div>

<form method="post">
    <div class="row">
        <div class="col-md-6 form-group text-right">
            <label>نام برند</label>
            <input class="form-control" name="name" id="name" type="text" />
        </div>
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">
                ذخیره <span class="fa fa-save"></span>
            </button>
            <button asp-page="./Index" class="btn btn-warning">
                بازگشت <span class="fa fa-arrow-left"></span>
            </button>
            @if (!string.IsNullOrWhiteSpace(Model.Message))
            {
                <span class="alert alert-danger">@Model.Message</span>
            }
        </div>
    </div>
</form>